body{
    /* font-family: 'Poppins', sans-serif; */
    padding: 50px;
    background-color: rgba(198, 201, 212, 0.507);
}
.color-in-title{
    color: rgb(233, 163, 12);
}
img{
    width: 100%;
    margin-right: 20px;
}
#first-title{
    border-left: 5px solid rgb(89, 0, 255);
}
h1{
    padding-left:5%;
    font-size: 75px;
    font-weight: 700;
}
p{
    font-size: 25px;
}
#first-description{
    width: 500px;
}
.flexible-section{
    display: flex;
}
.half-width{
    width: 40%;
    margin: 0 auto;
}
.button{
    text-decoration: none;
    background-color: orange;
    padding: 15px 30px;
    border-radius: 7px;
    font-size: 30px;
    color: whitesmoke;
}
.for-centerised{
    text-align: center;
}
.one-third-width{
    padding: 1%;
    box-shadow: 10px 10px 20px rgba(109, 133, 236, 0.712);
    width:28%;
    border-radius: 15px;
    margin: 0 auto;

}
.one-third-width img{
    width: 200px;
}
h3{
    font-size: 35px;
}
#for-bg-color-1{
    background-color: rgba(219, 213, 179, 0.486);
}
#for-bg-color-2{
    background-color: rgba(178, 204, 214, 0.527);
}
#for-bg-color-3{
    background-color: rgba(199, 166, 192, 0.568);
}