body{
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    background-color: rgba(198, 201, 212, 0.507);
}
.color-in-title{
    color: rgb(233, 163, 12);
}
img{
    width: 100%;
    margin-right: 20px;
}
#first-title{
    border-left: 5px solid rgb(89, 0, 255);
    line-height: 45px;
}
h1{
    padding-left:5%;
    font-size: 50px;
    font-weight: 700;
}
p{
    font-size: 18px;
    
    text-align: justify;
}
#first-description{
    width: 500px;
}
.flexible-section{
    display: flex;
    
    margin: 0 40px 100px 40px;
}
.half-width{
    width: 50%;
    margin: 0 auto;
}
.flexible-section img{
    margin-left: 50px;
}
.button{
    text-decoration: none;
    background-color: rgb(245, 115, 28);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 25px;
    color: whitesmoke;
}
.make-it-centerised{
    text-align: center;
}
.one-third-width{
    padding: 1%;
    box-shadow: 10px 10px 20px rgba(109, 133, 236, 0.712);
    width:28%;
    border-radius: 15px;
    margin: 0 auto;

}
.make-it-tiny{
    width: 150px;
}
h3{
    font-size: 35px;
}
#card-1{
    background-color: rgba(219, 213, 179, 0.486);
}
#card-2{
    background-color: rgba(178, 204, 214, 0.527);
}
#card-3{
    background-color: rgba(199, 166, 192, 0.568);
}
.coding{
    width: 300px;
}
.details{
    width: 600px;
    
}
footer{
    background-color: rgba(4, 4, 15, 0.884);
    color: rgb(228, 247, 229);
}
footer h1{
    font-family: 'Cookie', cursive;
    font-size: 50px;
    padding-top: 10px;
}
#fotter-2022{
    color:rgb(255, 123, 0);
    padding: 10px;
}
.biography{
    background-color: rgba(66, 63, 61, 0.13);
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(39, 39, 38, 0.555);
    height: auto;

}
.biography-part-1{
    margin-left:70px;
    width: 225px;
    float: left;
    
}
.biography-part-2{
    margin-left: 400px;
    background-color: rgb(238, 225, 200);
    padding: 30px;
    width: auto;
    height: 500px;
    border-radius: 15px;
}

.biography h3{
    font-size: 20px;
    
}

.bio-description{
    text-align: center;
    line-height: 1;
}